<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li *ngFor="let fruta of frutas; index as indice">
        {{ indice }} Nome: {{ fruta.nome }} e Cor: {{ fruta.cor }}
      </li>
    </ul>
    <!-- Navbar -->
    <app-header (logout)="logout()" [tipoUsuario]="tipoUsuario"></app-header>

    <!-- End Navbar -->

    <!-- Main -->
    <main id="main">
      <!-- Carousel -->
      <app-carousel></app-carousel>
      <!-- End Carousel -->

      <!-- Features -->
      <app-features
        [backgroundcolor]="novaCorBackground"
        [featuresData]="data.features"
        [featuresData]="data.features"
      ></app-features>
      <!-- End Features -->

      <!-- About -->
      <app-about [aboutData]="data.about"> </app-about>
      <!-- End About -->

      <!-- Address -->
      <app-address [address]="data.address.data"></app-address>
      <!-- End Address -->

      <!-- Contact -->

      <!-- End Contact -->

      <div class="btn-top">
        <a class="btn btn-link" href="#main">
          <img src="./../assets/images/seta-para-cima.png" alt="..." />
        </a>
      </div>
    </main>
    <!-- End Main -->
    <app-contact
      (sendFormData)="validarFormulario($event)"
      (movimentoEnvioForm)="movimentoEnvioForm()"
    ></app-contact>
    <!-- Footer -->
    <app-footer [footerData]="data.footer"></app-footer>
    <!-- End Footer -->
  </body>
</html>
